// Sass Variables

$blue: #1b81be;
$green: #7eba55;
$yellow: #fabe42;
$red: #d6463f;
$menu-color: #7d8075;
$purple: #855f9f;
$p-color: #333333;
$h1-color: #000000;
$divider-color: #cccccc;
$bottom-box-color: #343531;
$drop-color: #555751;
$head-font: 'Montserrat', sans-serif;
$body-font: Georgia, serif;


// Resets

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        font-family: $body-font;
}


// Main Styling

header {
        // width: 100%;
        padding: 0 106px 0 120px;
        height: 92px;
        border-top: 7px solid $blue;
        display: flex;
        justify-content: space-between;
}

img.header-logo {
        align-self: center;
        width: 212px;
}

.menu {
        align-self: center;
}

.menu ul {
        list-style: none;
        display: flex;
        flex-direction: row;
}

.menu ul li a{
        font-family: $head-font;
        font-weight: 700;
        font-size: 1em;
        color: $menu-color;
        padding: 0 14px;
        text-transform: uppercase;
        display: flex;
        height: 86px;
        line-height: 92px;
        text-decoration: none;
}

.menu-item {
        border-bottom: 8px solid transparent;
        margin-right: 14px;
}

.menu-item:hover {
        cursor: pointer;
        border-bottom: 8px solid $green;
}

.menu-item:hover > a {
        color: $green !important;
}

.menu ul li:last-child > .menu-item{
        margin-right: 0;
}

.menu ul ul {
        display: none;
        position: absolute;
}

.menu ul li:hover > ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}

// .sub-menu li {
//         height: 50px;
// }

.sub-menu {
        margin-top: 7px;
        width: 200px;
        background-color: $drop-color;
        opacity: .96;
        padding: 6px;
}

.sub-menu a {
        font-family: $body-font !important;
        color: #ffffff !important;
        font-size: .9em !important;
        font-weight: 300 !important;
        text-transform: none !important;
        line-height: 1.5 !important;
        height: auto !important;
        padding: 10px !important;
}

.hero img{
        width: 100%;
}

.main {
        display: flex;
        flex: 1;
        padding: 72px 120px;
}

.left-menu {
        flex: 0 0 205px;
        order: 1;
        padding-right: 40px;
}

.left-menu ul {
        list-style: none;
}

.left-menu ul li{
        font-family: $head-font;
        font-weight: 500;
        font-size: .9em;
        padding: 16px 0;
        border-bottom: 1px solid $divider-color;
        color: $blue;
        
        &:hover {
                cursor: pointer;
                color: darken($color: $blue, $amount: 10%)
        }
}

.left-menu ul li:last-child{
        border-bottom: 0;
}

.body-text {
        flex: 1;
        order: 2;
}

.body-text p {
        font-size: .9em;
        line-height: 1.8;
}

.body-text p a{
        color: $purple;
}

h1 {
        font-family: $head-font;
        font-weight: 700;
        font-size: 34px;
        margin-bottom: 24px;
}

h2 {
        font-family: $head-font;
        font-weight: 400;
        font-size: 22px;
        margin-top: 50px;
        margin-bottom: 20px;
        color: $blue;
        text-transform: uppercase;
}
.photos {
        display: flex;
        padding: 0 120px;
        justify-content: space-between;
}

// .photos img {
//         width: 290px;
// }

.photo-container {
        position: relative;
        width: 290px;
        height: 208px;
        margin-bottom: 72px;
}

#photo-1 {
        background-image: url('../images/grid-photo-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
                cursor: pointer;
        }

        &:hover > #photo-cap-1 {
                background-color: darken($color: $yellow, $amount: 10%);
        }
}

#photo-2 {
        background-image: url('../images/grid-photo-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
                cursor: pointer;
        }

        &:hover > #photo-cap-2 {
                background-color: darken($color: $red, $amount: 10%);
        }
}

#photo-3 {
        background-image: url('../images/grid-photo-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
                cursor: pointer;
        }

        &:hover > #photo-cap-3 {
                background-color: darken($color: $purple, $amount: 10%);
        }
}

.photo-caption {
        position: absolute;
        bottom: 0;
        width: 290px;
        height: 44px;
        text-align: center;
        color: #ffffff;
        font-family: $head-font;
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 700;
        opacity: .9;
        line-height: 44px;
        transition: 0.3s;
}

#photo-cap-1 {
        background-color: $yellow;
}

#photo-cap-2 {
        background-color: $red;
}

#photo-cap-3 {
        background-color: $purple;
}

footer {
        width: 100vw;
        height: 140px;
        background-color: $bottom-box-color;
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
}

.logo-address {
        display: flex;
        width: 500px;
        align-self: center;
        justify-content: space-between;
        font-family: $head-font;
        font-size: .8em;
}

.logo-address img {
        width: 212px;
        align-self: center;
}

.address {
        margin-top: 10px;
}

.address p, .address a {
        color: #ffffff !important;
        line-height: 1.5;
}

#donate-button {
        background-color: $green;
        margin-right: 200px;
        align-self: center;
        width: 210px;
        height: 46px;
        border: none;
        font-family: $head-font;
        font-weight: 700;
        font-size: .9em;
        text-transform: uppercase;
        color: #ffffff;
        transition: 0.3s;
}

#donate-button:hover {
        cursor: pointer;
        background-color: darken($color: $green, $amount: 10%)
}


// Responsive Properties

@media only screen and (max-width: 1169px) {
        header {
                // width: 100%;
                padding: 0 14px 0 14px;
                height: 125px;
                // border-top: 7px solid $blue;
                // display: flex;
                // justify-content: space-between;
                flex-direction: column;
        }

        img.header-logo {
                margin-top: 20px;
                align-self: unset;
        }
        
        // .menu {
        //         justify-self: right;
        // }

        .menu ul li a{
                // font-family: $head-font;
                // font-weight: 700;
                // font-size: 1em;
                // color: $menu-color;
                // margin-right: 20px;
                padding: 0 26px;
                // text-transform: uppercase;
                // display: flex;
                height: 53px;
                line-height: 60px;
                // text-decoration: none;
        }

        .main {
                // display: flex;
                // flex: 1;
                padding: 50px 14px;
        }

        .left-menu ul li{
                // font-family: $head-font;
                // font-weight: 500;
                // font-size: .9em;
                padding: 16px 0 16px 8px;
                // border-bottom: 1px solid $divider-color;
                // color: $blue;
                
                // &:hover {
                //         cursor: pointer;
                //         color: darken($color: $blue, $amount: 10%)
                // }
        }

        .photos {
                // display: flex;
                padding: 0 14px;
                // justify-content: space-between;
        }
        
        .photo-container {
                // position: relative;
                width: 226px;
                height: 162px;
                margin-bottom: 130px;
        }

        .photo-caption {
                // position: absolute;
                bottom: -60px;
                width: 226px;
                height: 60px;
                padding: 0 20px;
                // padding: 0 20px;
                // text-align: center;
                // color: #ffffff;
                // font-family: $head-font;
                // text-transform: uppercase;
                font-size: 1em;
                // font-weight: 700;
                // opacity: .9;
                line-height: 1.25;
                // transition: 0.3s;
                display: flex;
                align-items: center;
                // justify-content: center;
        }

        footer {
                // width: 100vw;
                height: 225px;
                // background-color: $bottom-box-color;
                // display: flex;
                // justify-content: space-between;
                // padding: 0 120px;
                flex-direction: column;
                justify-content: space-evenly;
        }

        .logo-address {
                // display: flex;
                width: 480px;
                // align-self: center;
                // justify-content: space-between;
                // font-family: $head-font;
                font-size: .9em;
        }

        .logo-address img {
                width: 158px;
                // align-self: center;
        }

        #donate-button {
                // background-color: $green;
                margin-right: 0px;
                // align-self: center;
                width: 260px;
                height: 58px;
                // border: none;
                // font-family: $head-font;
                // font-weight: 700;
                font-size: 1em;
                // text-transform: uppercase;
                // color: #ffffff;
                // transition: 0.3s;
        }
}