* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Georgia, serif;
}

header {
  padding: 0 106px 0 122px;
  height: 100px;
  border-top: 7px solid #1b81be;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img.header-logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 210px;
}

.menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: -14px;
}

.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14.6px;
  letter-spacing: 1px;
  color: #7d8075;
  padding: 0 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 84px;
  line-height: 100px;
  text-decoration: none;
}

.menu-item {
  border-bottom: 8px solid transparent;
  margin-right: 14px;
}

.menu-item:hover {
  cursor: pointer;
  border-bottom: 8px solid #7eba55;
}

.menu-item:hover > a {
  color: #7eba55 !important;
}

.menu ul li:last-child > .menu-item {
  margin-right: 0;
}

.menu ul ul {
  display: none;
  position: absolute;
}

.menu ul li:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sub-menu {
  margin-top: 8px;
  width: 190px;
  background-color: #555751;
  opacity: .96;
  padding: 10px 10px 20px 10px;
}

.sub-menu a {
  font-family: Georgia, serif !important;
  color: #ffffff !important;
  font-size: 13px !important;
  font-weight: 300 !important;
  text-transform: none !important;
  line-height: 1.5 !important;
  height: auto !important;
  padding: 4px !important;
}

.mobile-menu {
  display: none;
  margin-right: 14px;
}

.hero img {
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 54px 122px;
}

.left-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 192px;
          flex: 0 0 192px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 40px;
  margin-top: 8px;
}

.left-menu ul {
  list-style: none;
}

.left-menu ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cccccc;
  color: #1b81be;
}

.left-menu ul li:hover {
  cursor: pointer;
  color: #156391;
}

.left-menu ul li:last-child {
  border-bottom: 0;
}

.body-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.body-text p {
  font-size: 14.4px;
  line-height: 1.8;
}

.body-text p a {
  color: #855f9f;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -1px;
  margin-bottom: 14px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 38px;
  margin-bottom: 20px;
  color: #1b81be;
  text-transform: uppercase;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 122px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-container {
  position: relative;
  width: 290px;
  height: 208px;
  margin-bottom: 90px;
}

#photo-1 {
  background-image: url("../images/grid-photo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#photo-1:hover {
  cursor: pointer;
}

#photo-1:hover > #photo-cap-1 {
  background-color: #f9ad10;
}

#photo-2 {
  background-image: url("../images/grid-photo-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#photo-2:hover {
  cursor: pointer;
}

#photo-2:hover > #photo-cap-2 {
  background-color: #ba2f28;
}

#photo-3 {
  background-image: url("../images/grid-photo-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#photo-3:hover {
  cursor: pointer;
}

#photo-3:hover > #photo-cap-3 {
  background-color: #6a4c7f;
}

.photo-caption {
  position: absolute;
  bottom: 0;
  width: 290px;
  height: 44px;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  opacity: .9;
  line-height: 44px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#photo-cap-1 {
  background-color: #fabe42;
}

#photo-cap-2 {
  background-color: #d6463f;
}

#photo-cap-3 {
  background-color: #855f9f;
}

footer {
  width: 100%;
  height: 140px;
  background-color: #343531;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 122px;
}

.logo-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.logo-address img {
  width: 210px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 26px;
}

.address {
  margin-top: 10px;
}

.address p, .address a {
  color: #ffffff !important;
  line-height: 1.75;
}

#donate-button {
  background-color: #7eba55;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 210px;
  height: 46px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14.4px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#donate-button:hover {
  cursor: pointer;
  background-color: #659c40;
}

@media only screen and (max-width: 1169px) {
  header {
    padding: 0 14px 0 14px;
    height: 134px;
    border-top: 8px solid #1b81be;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  img.header-logo {
    margin-top: 20px;
    width: 222px;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
  .menu {
    -ms-flex-item-align: unset;
        align-self: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 32px;
  }
  .menu ul li a {
    font-size: 16px;
    padding: 0 25px;
    height: 48px;
    line-height: 50px;
  }
  .main {
    padding: 34px 50px 64px 14px;
  }
  .left-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 208px;
            flex: 0 0 208px;
    margin-right: 48px;
    margin-top: 16px;
  }
  .left-menu ul li {
    font-size: 16px;
    padding: 0px 0 0px 8px;
    height: 52px;
  }
  h1 {
    letter-spacing: -2px;
    margin-bottom: 8px;
  }
  h2 {
    margin-top: 22px;
  }
  .photos {
    padding: 0 14px;
  }
  .photo-container {
    width: 228px;
    height: 162px;
    margin-bottom: 140px;
  }
  .photo-caption {
    bottom: -60px;
    width: 228px;
    height: 60px;
    padding: 0 20px;
    line-height: 1.25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer {
    height: 225px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .logo-address {
    width: 480px;
    font-size: 14.4px;
  }
  .logo-address img {
    width: 158px;
  }
  #donate-button {
    margin-right: 0px;
    width: 260px;
    height: 58px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  header {
    height: 78px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  img.header-logo {
    margin-top: 0px;
    width: 166px;
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    display: block;
    cursor: pointer;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0 14px 0;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  h2 {
    margin-top: 24px;
    font-size: 20px;
  }
  .left-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 0 14px;
    background-color: #f1f1f1;
    margin-top: 38px;
  }
  .body-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 14px;
  }
  .photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 36px;
  }
  .photo-container {
    width: 100%;
    height: auto;
    padding-top: 71%;
    margin-bottom: 74px;
  }
  .photo-caption {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    height: 240px;
    padding: 0 14px;
  }
  .logo-address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  .logo-address img {
    margin-right: 0px;
  }
  .address p, .address a {
    line-height: 2;
  }
}
/*# sourceMappingURL=main.css.map */