// Sass Variables

$blue: #1b81be;
$green: #7eba55;
$yellow: #fabe42;
$red: #d6463f;
$menu-color: #7d8075;
$purple: #855f9f;
$p-color: #333333;
$h1-color: #000000;
$divider-color: #cccccc;
$bottom-box-color: #343531;
$drop-color: #555751;
$head-font: 'Montserrat', sans-serif;
$body-font: Georgia, serif;


// Resets

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        font-family: $body-font;
}


// Main Styling

header {
        padding: 0 106px 0 122px;
        height: 100px;
        border-top: 7px solid $blue;
        display: flex;
        justify-content: space-between;
}

img.header-logo {
        align-self: center;
        width: 210px;
}

.menu {
        align-self: center;
        margin-right: -14px;
}

.menu ul {
        list-style: none;
        display: flex;
        flex-direction: row;
}

.menu ul li a{
        font-family: $head-font;
        font-weight: 700;
        font-size: 14.6px;
        letter-spacing: 1px;
        color: $menu-color;
        padding: 0 14px;
        text-transform: uppercase;
        display: flex;
        height: 84px;
        line-height: 100px;
        text-decoration: none;
}

.menu-item {
        border-bottom: 8px solid transparent;
        margin-right: 14px;
}

.menu-item:hover {
        cursor: pointer;
        border-bottom: 8px solid $green;
}

.menu-item:hover > a {
        color: $green !important;
}

.menu ul li:last-child > .menu-item{
        margin-right: 0;
}

.menu ul ul {
        display: none;
        position: absolute;
}

.menu ul li:hover > ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}


.sub-menu {
        margin-top: 8px;
        width: 190px;
        background-color: $drop-color;
        opacity: .96;
        padding: 10px 10px 20px 10px;
}

.sub-menu a {
        font-family: $body-font !important;
        color: #ffffff !important;
        font-size: 13px !important;
        font-weight: 300 !important;
        text-transform: none !important;
        line-height: 1.5 !important;
        height: auto !important;
        padding: 4px !important;
}

.mobile-menu {
        display: none;
        margin-right: 14px;
}

.hero img{
        width: 100%;
}

.main {
        display: flex;
        flex: 1;
        padding: 54px 122px;
}

.left-menu {
        flex: 0 0 192px;
        order: 1;
        margin-right: 40px;
        margin-top: 8px;
}

.left-menu ul {
        list-style: none;
}

.left-menu ul li{
        font-family: $head-font;
        font-weight: 500;
        font-size: 13px;
        height: 44px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $divider-color;
        color: $blue;
        
        &:hover {
                cursor: pointer;
                color: darken($color: $blue, $amount: 10%)
        }
}

.left-menu ul li:last-child{
        border-bottom: 0;
}

.body-text {
        flex: 1;
        order: 2;
}

.body-text p {
        font-size: 14.4px;
        line-height: 1.8;
}

.body-text p a{
        color: $purple;
}

h1 {
        font-family: $head-font;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -1px;
        margin-bottom: 14px;
}

h2 {
        font-family: $head-font;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 2px;
        margin-top: 38px;
        margin-bottom: 20px;
        color: $blue;
        text-transform: uppercase;
}
.photos {
        display: flex;
        padding: 0 122px;
        justify-content: space-between;
}


.photo-container {
        position: relative;
        width: 290px;
        height: 208px;
        margin-bottom: 90px;
}

#photo-1 {
        background-image: url('../images/grid-photo-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
                cursor: pointer;
        }

        &:hover > #photo-cap-1 {
                background-color: darken($color: $yellow, $amount: 10%);
        }
}

#photo-2 {
        background-image: url('../images/grid-photo-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
                cursor: pointer;
        }

        &:hover > #photo-cap-2 {
                background-color: darken($color: $red, $amount: 10%);
        }
}

#photo-3 {
        background-image: url('../images/grid-photo-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
                cursor: pointer;
        }

        &:hover > #photo-cap-3 {
                background-color: darken($color: $purple, $amount: 10%);
        }
}

.photo-caption {
        position: absolute;
        bottom: 0;
        width: 290px;
        height: 44px;
        text-align: center;
        color: #ffffff;
        font-family: $head-font;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        opacity: .9;
        line-height: 44px;
        transition: 0.3s;
}

#photo-cap-1 {
        background-color: $yellow;
}

#photo-cap-2 {
        background-color: $red;
}

#photo-cap-3 {
        background-color: $purple;
}

footer {
        width: 100%;
        height: 140px;
        background-color: $bottom-box-color;
        display: flex;
        justify-content: space-between;
        padding: 0 122px;
}

.logo-address {
        display: flex;
        align-self: center;
        justify-content: flex-start;
        font-family: $head-font;
        font-size: 13px;
}

.logo-address img {
        width: 210px;
        align-self: center;
        margin-right: 26px;
}

.address {
        margin-top: 10px;
}

.address p, .address a {
        color: #ffffff !important;
        line-height: 1.75;
}

#donate-button {
        background-color: $green;
        align-self: center;
        width: 210px;
        height: 46px;
        border: none;
        font-family: $head-font;
        font-weight: 700;
        font-size: 14.4px;
        text-transform: uppercase;
        color: #ffffff;
        transition: 0.3s;
}

#donate-button:hover {
        cursor: pointer;
        background-color: darken($color: $green, $amount: 10%)
}


// Responsive Properties

@media only screen and (max-width: 1169px) {
        header {
                padding: 0 14px 0 14px;
                height: 134px;
                border-top: 8px solid $blue;
                flex-direction: column;
        }

        img.header-logo {
                margin-top: 20px;
                width: 222px;
                align-self: unset;
        }
        
        .menu {
                align-self: unset;
                display: flex;
                justify-content: flex-end;
                padding-right: 32px;
        }

        .menu ul li a{
                font-size: 16px;
                padding: 0 25px;
                height: 48px;
                line-height: 50px;
        }

        .main {
                padding: 34px 50px 64px 14px;
        }

        .left-menu {
                flex: 0 0 208px;
                margin-right: 48px;
                margin-top: 16px;
        }

        .left-menu ul li{
                font-size: 16px;
                padding: 0px 0 0px 8px;
                height: 52px;
        }

        h1 {
                letter-spacing: -2px;
                margin-bottom: 8px;
        }
        
        h2 {
                margin-top: 22px;
        }

        .photos {
                padding: 0 14px;
        }
        
        .photo-container {
                width: 228px;
                height: 162px;
                margin-bottom: 140px;
        }

        .photo-caption {
                bottom: -60px;
                width: 228px;
                height: 60px;
                padding: 0 20px;
                line-height: 1.25;
                display: flex;
                align-items: center;
        }

        footer {
                height: 225px;
                padding: 0;
                flex-direction: column;
                justify-content: space-evenly;
        }

        .logo-address {
                width: 480px;
                font-size: 14.4px;
        }

        .logo-address img {
                width: 158px;
        }

        #donate-button {
                margin-right: 0px;
                width: 260px;
                height: 58px;
                font-size: 16px;
        }
}


@media only screen and (max-width: 767px) {
        header {
                height: 78px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
        }

        img.header-logo {
                margin-top: 0px;
                width: 166px;
        }

        .menu {
                display: none;
        }

        .mobile-menu {
                display: block;
                cursor: pointer;
        }

        .main {
                display: flex;
                flex: 1;
                flex-direction: column;
                padding: 20px 0 14px 0;
        }

        h1 {
                font-size: 32px;
                margin-bottom: 10px;
        }

        h2 {
                margin-top: 24px;
                font-size: 20px;
        }
        
        .left-menu {
                flex: 1;
                order: 2;
                width: 100%;
                padding: 0 14px;
                background-color: #f1f1f1;
                margin-top: 38px;
        }


        .body-text {
                flex: 1;
                order: 1;
                padding: 0 14px;
        }

        .photos {
                flex-direction: column;
                margin-bottom: 36px;
        }

        .photo-container {
                width: 100%;
                height: auto;
                padding-top: 71%;
                margin-bottom: 74px;
        }

        .photo-caption {
                width: 100%;
                justify-content: center;
        }

        footer {
                height: 240px;
                padding: 0 14px;
        }

        .logo-address {
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-size: 12px;
        }

        .logo-address img {
                margin-right: 0px;
        }

        .address p, .address a {
                line-height: 2;
        }
}